.carCarousel__item{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carCarousel__img{
    height: 100%;
    width: 100%;
    user-select: none;
    
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}