{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell By Car</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body class="main_page">
    <div class="car_block x6m">
        <div class="x6m_position">
            <h5 id="name_the_car_1">THE</h5>
            <h1 id="name_the_car_2"><em>BMW X6 M</em></h1>
        </div>
    </div>

    <div class="car_block s8m">
        <div class="s8m_position">
            <h5 id="name_the_car_3">THE</h5>
            <h1 id="name_the_car_4"><em>BMW M8 Competition</em></h1>
        </div>
    </div>
</body>
</html>